:root{
    --main: #c67f7f;
    --second: #ececec;
    --terzo: #8b0000;
}

.bg{
    background-color: var(--second);
}

.navbar-bg {
  background-color: rgb(251, 251, 251);

}

.immagine{
    height: 80px;   
}

.titoli{
    font-family: 'Nova Square', cursive;
    color: var(--terzo);
}
.mountains{
 
 color: var(--terzo);
 font-size: 100px;
}

*{
    font-family: 'Rajdhani', sans-serif;
}

p {
  font-size: 20px ;
  font-weight: 800;
}

.intestazione{
height: 80vh;
margin-top: -16px;
 background: linear-gradient( 180deg, rgb(255, 255, 255),rgba(255, 255, 255, 0)), url(./media/switzerland-862870_1920.jpg); 
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.navbar1{
    
    background-color: white;
    height: 30px;
    /* width: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* padding-left: -12px;
    padding-right: -12px; */
    
}
.listanav{
    /* padding-right: 20px;
    padding-left: 20px; */
    list-style: none;
    
}

a:link{
    
    text-decoration: none;
    color: black;

}

.link1{
    color: black;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}


.bg-mont{
position: absolute;
bottom: -10%;
left: 0;
width: 100%;
z-index: 1;
}

.scritta_sovrapposta{
    z-index: 2;
    height: 300px;

}
.scritta_principale{
    display: flex;
    text-align: center;
    font-size: 20px;
    align-items: center;
}
.virgolette{
    color: var(--terzo);
 font-size: 50px;
 margin-top: -130px;
}
.virgolette1{
    color: var(--terzo);
 font-size: 50px;
 margin-top: 40px;
 margin-right: 30px;
}





.colonne-s1{
    border-bottom: solid 5px var(--terzo);
    z-index: 2;
}

.timeline-1{
    left: calc(100% + 1px);
    bottom: 0;
    width: 20px;
    height: 20px;
    position:relative;
    margin-top: 90px;
    margin-left: 33px;
    border: solid 3px var(--terzo);
    border-radius: 50%;
    background: #ffffff;
    
  }
  
  .lorem-paragrafo{
    height: 500px;

  }

  .paragrafo1{
    margin-top: 200px;
  }

  .color-titoli{
    color: var(--terzo);
  }

  .trees{
    width: 100%;
    margin-top: -200px;
  }

  .bottone{
    background-color: #8b0000;
    color: #ececec;
    border: 0px;
    width: 180px;
    height: 40px;
    font-size: 20px;
    justify-content: center;
  }

  .colonnina{
    background-color: white;
    height: 100vh;
    
   

  }
  .contenitore1{
    border-left: solid 3px var(--terzo);
    padding :10px;

  }

  .single{
    width: 70vh;
    
  }

 .palline2{
  
  left: calc(100% + 1px);
  bottom: 0;
  width: 20px;
  height: 20px;
  border: solid 3px var(--terzo);
  border-radius: 50%;
  margin-left: -22px;

  background-color: white;

height: 20px;
 margin-top: 20px;
}

.rotto{
  height: 210px;
}

.titolone{
margin-top: 120px;
margin-left: 5vw;
font-weight: 700;
font-size: 50px;
}

.circle-custom{
  border: 4px solid var(--terzo);
  border-radius: 50%;
}

.our-benefit{
  height: 210px;
}

.margine {
margin-left: 100px;
margin-top: 50px;
}
.margine1 {
margin-left: 100px;
}

.other{
  width: 99vw;
  height: 60vh;
  margin-top: 100px;
  margin-left: -12px;

}

.footer{
  height: 50vh;
  background-color: var(--terzo);
 color: white;
}

.footerscritta{
  font-weight: 700;
  font-size: 100px;
}
.footerscritta1{
  font-weight: 700;
  font-size: 40px;
}
.colonna1{
  height: 50vh;
}

.colonna2{
  margin-top: 80px;
}

a.linkfinali:link{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
a.linkfinali:visited{
  text-decoration: none;
  color: white;
  font-size: 25px;
}